# QwenImage CLI Environment
ACEDATACLOUD_API_TOKEN=your_api_token_here
# ACEDATACLOUD_API_BASE_URL=https://api.acedata.cloud
# QWEN_IMAGE_DEFAULT_MODEL=doubao-qwen_image-5-0-260128
# QWEN_IMAGE_REQUEST_TIMEOUT=1800
